/* Importing Google Font */
@import url(https://fonts.googleapis.com/css?family=Lato:100);

/* Color Declarations */
$white: #FFF;
$primary: #EEE;
$night: #465460;
$pink: #FF4D89;
$dark-pink: #F0437D;

/* Declaring Variables */
$background: #26313B;
$transparent: transparent;

/* Font Properties */
$font: Lato;
$light: 100;
$normal: 300;

/* Mixins*/
@mixin transition ($seconds) {
    -webkit-transition: all $seconds;
    -moz-transition: all $seconds;
    -ms-transition: all $seconds;
    transition: all $seconds;
}

/* General CSS */
body {
    @include transition(0.75s);
    background: $background;
    font-family: $font;
    font-weight: $light;
    height: 100vh;
}
a:focus,
a:hover {
    text-decoration: none;
}

/* Div Tags CSS */
.key-button {
    @include transition(0.5s);
    background: $night;
    color: $white;
    border: none;
    outline: 0;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 25px;
    text-align: center;
}
::-webkit-input-placeholder {
   color: $white;
   font-size: 25px;
}
.logo-box {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
}

/* Image CSS */
.logo {
    @include transition(0.1s);
    width: 40px;
    height: 40px;
}

/* Button CSS */
.btn-start,
.btn-start:focus {
    @include transition(0.3s);
    background: $transparent;
    border: 2px solid $primary;
    font-weight: $normal;
    color: $primary;
    margin: 20px 15px;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    font-size: 20px;
    text-transform: uppercase;
    outline: 0;
}
.btn-start:hover {
    border-color: $white;
    color: $white;
    background: rgba(255,255,255,0.1);
}
#reset,
#reset:focus {
    @include transition(0.3s);
    background: $pink;
    color: $white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: none;
    outline: 0;
    margin-top: 15px;
    visibility: hidden;
    span {
        color: $white;
        @include transition(0.5s);
    }
}
#reset:hover {
    span {
        color: $white;
        -webkit-transform: rotate(360deg);
    }
    background: $dark-pink;
    color: $white;
}
.btn-restart,
.btn-restart:focus {
    @include transition(0.3s);
    background: $transparent;
    border: 2px solid $primary;
    font-weight: $normal;
    color: $primary;
    margin: 20px 15px;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    font-size: 20px;
    text-transform: uppercase;
    outline: 0;
    display: none;
}
.btn-restart:hover {
    border-color: $white;
    color: $white;
    background: rgba(255,255,255,0.1);
}

/* Progress Bar CSS */
.progress {
    border-radius: 0;
    height: 3px;
    background: rgba(255,255,255,0.4);
    box-shadow: none;
}
.progress-bar {
    background: $pink;
    border-radius: 0;
}
.progress-made {
    @include transition(0.5s);
    font-weight: $normal;
    text-align: right;
    padding-right: 10px;
    color: #BBB;
}

/* Text CSS */
#main-time {
    color: $primary;
    font-size: 14vw;
    text-align: center;
    #ms {
        color: $pink;
        font-size: 3.5vw;
    }
}
.work-for {
    color: $white;
    text-transform: uppercase;
    font-size: 22px;
}

/* Span CSS */

/* Media Queries */
@media(max-width: 768px) {
    #main-time {
        padding-top: 20px;
        font-size: 23vw;
        #ms {
            padding-left: 3px;
            font-size: 8vw;
        }
    }
    .work-for {
        font-size: 16px;
        margin-top: 10px;
    }
    .btn-start,
    .btn-start:focus,
    .btn-restart,
    .btn-restart:focus {
        margin-top: 20px;
        width: 120px;
        height: 120px;
    }
}